*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#eef3fb;
  font-family:'Segoe UI',sans-serif;
  color:#1e293b;
  padding:40px 20px;
}

.container{
  max-width:1100px;
  margin:auto;
  background:white;
  padding:35px;
  border-radius:24px;
  box-shadow:0 10px 40px rgba(0,0,0,.08);
}

h1{
  color:#0b4dbb;
  margin-bottom:10px;
}

input{
  width:100%;
  padding:18px;
  border-radius:14px;
  border:1px solid #d1d5db;
  font-size:18px;
  margin-top:15px;
}

button{
  width:100%;
  margin-top:15px;
  padding:18px;
  border:none;
  border-radius:14px;
  background:#0b63ce;
  color:white;
  font-size:18px;
  cursor:pointer;
}

button:hover{
  background:#094fb0;
}

.found-box{
  margin-top:25px;
  display:flex;
  align-items:center;
  gap:15px;
  padding:20px;
  background:#ecfdf3;
  border-radius:16px;
}

.found-icon{
  width:50px;
  height:50px;
  border-radius:50%;
  background:#16a34a;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:24px;
}

.member-card{
  margin-top:20px;
  background:white;
  border:1px solid #dbeafe;
  border-radius:20px;
  padding:25px;
}

.member-card h3{
  color:#0b4dbb;
  margin-bottom:20px;
}

.member-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

.member-grid span{
  display:block;
  color:#64748b;
  margin-bottom:5px;
}

.member-grid strong{
  font-size:22px;
}

.summary-grid{
  margin-top:20px;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

.summary-card{
  padding:30px;
  border-radius:20px;
}

.summary-card span{
  display:block;
  margin-bottom:10px;
}

.summary-card strong{
  font-size:42px;
}

.green{
  background:#ecfdf3;
  color:#15803d;
}

.blue{
  background:#eff6ff;
  color:#1d4ed8;
}

.history{
  margin-top:25px;
}

.history h3{
  margin-bottom:15px;
  color:#0b4dbb;
}

.payment-card{
  background:white;
  border:1px solid #e5e7eb;
  border-radius:18px;
  padding:20px;
  margin-bottom:15px;
  display:grid;
  grid-template-columns:180px 180px 1fr;
  gap:20px;
}

.payment-date{
  font-size:20px;
  font-weight:bold;
}

.payment-time{
  color:#64748b;
  margin-top:5px;
}

.payment-main span{
  display:block;
  color:#64748b;
}

.payment-main strong{
  font-size:30px;
  color:#0b4dbb;
}

.payment-detail p{
  margin-bottom:5px;
}

.notice{
  margin-top:25px;
  padding:20px;
  border-radius:16px;
  background:#f8fafc;
  color:#334155;
}

.error{
  margin-top:20px;
  color:#dc2626;
  font-weight:bold;
}

.loading{
  margin-top:20px;
  color:#0b63ce;
  font-weight:bold;
}

@media(max-width:768px){

  .member-grid{
    grid-template-columns:1fr;
  }

  .summary-grid{
    grid-template-columns:1fr;
  }

  .payment-card{
    grid-template-columns:1fr;
  }

  .summary-card strong{
    font-size:32px;
  }
}
